/* Ensure images and videos fill up screen width without overflowing */
img,
video,
svg {
  width: 100%;
  max-width: 60vh;
}

/* Prevent SVGs inside links inheriting the link text colour */
a svg {
  color: initial;
}

/* Use a sans-serif font, as they're easier to read */
body {
  font-family: sans-serif;
}
