/* Make graphics quite large, but without taking over the screen */
main img,
main video,
main svg {
  width: 100%;
  max-width: 55vh;
}

/* Prevent SVGs inside links inheriting the link text colour */
a svg {
  color: initial;
}

/* Use a sans-serif font, as they're easier to read */
body {
  font-family: sans-serif;
}

/* Styles for the Creative Commons license notice  */
#license-notice img {
  height: 22px;
  margin-left: 3px;
  vertical-align: text-bottom;
}

#license-notice a {
  display: inline-block;
}
